/* اللون الأحمر للزر النصي الصغير */
.p-button-text.text-red {
  color: #dc3545 !important;  /* اللون الأساسي */
}

/* عند المرور بالماوس */
.p-button-text.text-red:hover,
.p-button-text.text-red:hover .p-button-icon {
  color: #a71d2a !important;  /* اللون عند hover */
}


/* يمنع تمدد الجدول */
.table-fixed {
  table-layout: fixed;
}

/* قص النص الطويل بنقاط */
.truncate-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

/* تحسين عرض الجدول */
.p-datatable td,
.p-datatable th {
  vertical-align: middle;
}
