@use 'mixins' as *;

/* ========================= */
/* Sidebar Menu Base */
/* ========================= */
.layout-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    .layout-root-menuitem {
        >.layout-menuitem-root-text {
            font-size: 1.150rem;
            text-transform: uppercase;
            font-weight: 700;
            color: var(--text-color);
            margin: 0.75rem 0;
        }

        >a {
            display: none;
        }
    }

    a {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0.75rem 1rem;
        border-radius: var(--content-border-radius);
        color: var(--text-color);
        cursor: pointer;
        user-select: none;
        transition: background-color var(--element-transition-duration), box-shadow var(--element-transition-duration);

        .layout-menuitem-icon {
            margin-right: 0.5rem;
        }

        .layout-submenu-toggler {
            font-size: 75%;
            transition: transform var(--element-transition-duration);

            /* LTR */
            html[dir="ltr"] & {
                margin-left: auto;
                margin-right: 0;
            }

            /* RTL */
            html[dir="rtl"] & {
                margin-right: auto;
                margin-left: 0;
            }
        }

        &:hover {
            background-color: var(--surface-hover);
        }

        &:focus {
            @include focused-inset();
        }

        &.active-route {
            font-weight: 700;
            color: var(--primary-color);
        }

        &.active-menuitem>.layout-submenu-toggler {
            transform: rotate(-180deg);
        }
    }

    li ul {
        overflow: hidden;
        border-radius: var(--content-border-radius);

        li {
            a {

                /* LTR */
                html[dir="ltr"] & {
                    margin-left: 1.100rem;
                    margin-right: 0;
                    font-size: 0.950rem;
                   
                    
                }

                /* RTL */
                html[dir="rtl"] & {
                    margin-right: 1.100rem;
                    margin-left: 0;
                    font-size:  0.950rem;
                   
                }
            }

            li {
                a {
                    html[dir="ltr"] & {
                        margin-left: 2rem;
                        margin-right: 0;
                    }

                    html[dir="rtl"] & {
                        margin-right: 2rem;
                        margin-left: 0;
                    }
                }
            }

            li li {
                a {
                    html[dir="ltr"] & {
                        margin-left: 2.5rem;
                        margin-right: 0;
                    }

                    html[dir="rtl"] & {
                        margin-right: 2.5rem;
                        margin-left: 0;
                    }
                }
            }

            li li li {
                a {
                    html[dir="ltr"] & {
                        margin-left: 3rem;
                        margin-right: 0;
                    }

                    html[dir="rtl"] & {
                        margin-right: 3rem;
                        margin-left: 0;
                    }
                }
            }

            li li li li {
                a {
                    html[dir="ltr"] & {
                        margin-left: 3.5rem;
                        margin-right: 0;
                    }

                    html[dir="rtl"] & {
                        margin-right: 3.5rem;
                        margin-left: 0;
                    }
                }
            }

            li li li li li {
                a {
                    html[dir="ltr"] & {
                        margin-left: 4rem;
                        margin-right: 0;
                    }

                    html[dir="rtl"] & {
                        margin-right: 4rem;
                        margin-left: 0;
                    }
                }
            }
        }
    }

}

/* ========================= */
/* Submenu Animation */
.layout-submenu-enter-from,
.layout-submenu-leave-to {
    max-height: 0;
    opacity: 0;
}

.layout-submenu-enter-to,
.layout-submenu-leave-from {
    max-height: 1000px;
    opacity: 1;
}

.layout-submenu-leave-active {
    overflow: hidden;
    transition: max-height 0.45s cubic-bezier(0, 1, 0, 1), opacity 0.3s ease;
}

.layout-submenu-enter-active {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.35s ease-in;
}

/* ========================= */
/* RTL Adjustments */
html[dir="rtl"] {
    .layout-menu a .layout-menuitem-icon {
        margin-left: 0.5rem;
        margin-right: 0;
    }

    .layout-menu li ul li a {
        margin-right: 1rem;
    }
}

/* Submenu toggler rotation */
.layout-menu a.active-menuitem .layout-submenu-toggler,
.layout-menu li.active-menuitem>a>.layout-submenu-toggler {
    transform: rotate(-180deg);
}

/* إذا أردنا دعم RTL بنفس الطريقة */
html[dir="rtl"] .layout-menu a.active-menuitem .layout-submenu-toggler,
html[dir="rtl"] .layout-menu li.active-menuitem>a>.layout-submenu-toggler {
    transform: rotate(-180deg);
}