@use 'mixins' as *;

/* ========================= */
/* Sidebar Base */
/* ========================= */
.layout-sidebar {
    position: fixed;
    width: 20rem;
    height: calc(100vh - 6rem);
    top: 6rem;
    z-index: 999;
    overflow-y: auto;
    user-select: none;
    background-color: var(--surface-overlay);
    border-radius: var(--content-border-radius);
    padding: 0.5rem 1.5rem;
    transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
}

/* ========================= */
/* LTR/RTL Initial Positions */
/* ========================= */
html[dir="ltr"] .layout-sidebar {
    left: 2rem;
    right: auto;
    transform: translateX(0);
}

html[dir="ltr"] .layout-static-inactive .layout-sidebar {
    transform: translateX(-110%);
}

html[dir="rtl"] .layout-sidebar {
    right: 2rem;
    left: auto;
    transform: translateX(0);
}

html[dir="rtl"] .layout-static-inactive .layout-sidebar {
    transform: translateX(110%);
}


/* ========================= */
/* Desktop Main Container Adjustments */
/* ========================= */
html[dir="ltr"] .layout-static .layout-main-container {
    margin-right: 0;
    margin-left: 22rem;
    padding-left: 2rem;
   
}

html[dir="rtl"] .layout-static .layout-main-container {
    margin-left: 0;
    margin-right: 22rem;
    padding-right: 2rem;
}

html[dir="ltr"] .layout-static-inactive .layout-main-container {
    margin-left: 0;
    margin-right: 0;
    
   
}

html[dir="rtl"] .layout-static-inactive .layout-main-container {
    margin-left: 0;
    margin-right: 0;

}



/* ========================= */
/* Mobile Responsive Sidebar */
/* ========================= */
/* ========================= */
/* Mobile Sidebar Logic */
/* ========================= */
@media (max-width: 1024px) {

  /* LTR */
  html[dir="ltr"] .layout-wrapper.layout-static .layout-sidebar {
    left: 0;
    transform: translateX(-100%);
  }

  /* RTL */
  html[dir="rtl"] .layout-wrapper.layout-static .layout-sidebar {
    right: 0;
    transform: translateX(100%);
  }

  /* ACTIVE (when staticMenuMobileActive = true) */
  .layout-wrapper.layout-static.layout-mobile-active .layout-sidebar {
    transform: translateX(0);
  }

  .layout-sidebar {
    width: 80%;
    top: 0;
    height: 100vh;
    border-radius: 0;
    z-index: 1000;
  }
}

/* ========================= */
/* Masks for Mobile Sidebar */

@media (max-width: 1024px) {
  .layout-mask {
    display: none;
    position: fixed;
    inset: 0;
    background-color: var(--maskbg);
    z-index: 998;
  }

  .layout-wrapper.layout-mobile-active .layout-mask {
    display: block;
  }
}
