/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './demo/demo.scss';


:root {
  --p-font-family: 'Sukar', sans-serif;
}

body, * {
  font-family: 'Sukar', sans-serif !important;
}

/* ====== استثناء الأيقونات من الخط ====== */
.pi,
[class^="pi-"],
[class*=" pi-"] {
  font-family: 'PrimeIcons' !important;
}




/* Common style */
.custom-toast .p-toast-message {
  position: relative;
  overflow: hidden;
}

/* Success */
.custom-toast .p-toast-message-success::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #22c55e; /* أخضر */
  animation: toastProgress 3s linear forwards;
}

/* Warn */
.custom-toast .p-toast-message-warn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #facc15; /* أصفر */
  animation: toastProgress 3s linear forwards;
}

/* Error */
.custom-toast .p-toast-message-error::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #ef4444; /* أحمر */
  animation: toastProgress 3s linear forwards;
}

/* Info */
.custom-toast .p-toast-message-info::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #3b82f6; /* أزرق */
  animation: toastProgress 3s linear forwards;
}

/* Animation */
@keyframes toastProgress {
  from { width: 100%; }
  to { width: 0%; }
}
